@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: opacity ease 1s;
  z-index: 5;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  background-image: url("../assets/svg/pause.svg");
  color: #C5B358;
}

.item-active-play {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-list li {
  box-sizing: content-box;
  border-bottom: #fff 1px solid;
  margin-bottom: 10px;
}

.player-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.player-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  gap: 10px;
}

.button-volume {
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/volume.svg");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s; 
}

.button-volume-off {
  background-image: url("../assets/svg/volume-xmark.svg");
}

.sound-volume {
  width: 70px;
  height: 5px;
  appearance: none;
  border-radius: 10px;
}

.sound-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff; 
  cursor: pointer;
}

.sound-track {
  width: 100%;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.timeline {
  background: white;
  width: 100%;
  height: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.duration-sound {
  background: #C5B358;
  width: 0%;
  height: 100%;
}

.player-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 50%;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  transition: opacity ease 1s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px; 
  transition: opacity ease 1s;
  visibility: visible; 
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: opacity ease 1s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
  transition: opacity ease 1s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 28vh;
  min-height: 160px;  
  padding: 20px;
  gap: 5%;
  padding-bottom: 20px;
}

.settings {
  width: 10%;
  height: 50px;
  background-image: url("../assets/svg/gear.svg");
  background-size: 40px 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.footer-quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  transition: opacity ease 1s;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.language-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.language-switch {
  width: 50px;
  height: 20px;
  appearance: none;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.language-switch::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #C5B358; 
  cursor: pointer;
}

.name-setting-language {
  width: 60%;
}

.language-en,
.language-ru {
  cursor: pointer;
}

.settings-menu {
  position: absolute;
  left: -300px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  backdrop-filter: blur(30px);
  padding: 10px 20px 0px 20px;
  gap: 13px;
  border-radius: 20px;
  /* border: #C5B358 1px solid; */
  transition: all linear 1s;
}

.settings-title {
  font-size: 25px;
  color: #C5B358;
}

.menu-show {
  left: 20px;
}

.close-menu {
  position: absolute; 
  top: 12px; 
  right: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.close-menu::after,
.close-menu::before {
  position: absolute;
  content: "";
  width: 25px; 
  height: 3px;
  background-color: #fff;
}

.close-menu::before {
  transform: rotate(-45deg);
}

.close-menu::after{
  transform: rotate(45deg);
}

.source-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.source-image-text,
.hide-block-text {
  font-size: 20px;
  color: #C5B358;
}

.way-container {
  display: flex;
  justify-content: space-between;
}

.way-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.way-check-image {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.way-check-image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #464543;
}

.way-check-image:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #464543;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.tag-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tag-label {
  width: 91px;
}

.tag-input {
  width: 37%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
}

.tag-change {
  width: 25%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #C5B358;
  border: #464543;
  transition: all 0.4s;
  cursor: pointer;
}

.tag-change:hover {
  opacity: 0.7;
}

.hide-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.blocks-hide {
  display: flex;
  flex-wrap: wrap;
}

.block-container {
  width: 50%;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.way-check {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.hide-label {
  cursor: pointer;
}

.way-check::before {
  content: "\2713";
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.way-check:checked::after {
  content: "\2713";
  font-weight: 900;
  font-size: 30px;
  color: #C5B358;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.todo-wrapper-all {
  position: relative;
  width: 10%;
  height: 60px;
  margin-right: 2%;
  margin-bottom: 20px;
}

.todolist-container {
  position: absolute;
  right: -35px;
  bottom: -25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  backdrop-filter: blur(30px);
  padding: 10px 20px 10px 20px;
  gap: 13px;
  border-radius: 20px;
  /* border: #C5B358 1px solid; */
  transition: all linear 0.5s;
  opacity: 0;
  visibility: hidden;
}

.todolist-show {
  opacity: 1;
  visibility: inherit;
}

.todolist-icon {
  width: 100%;
  height: 60px;
  background-image: url("../assets/svg/task-list.svg");
  background-size: 50px 60px;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.close-todo-list {
  position: absolute; 
  top: 12px; 
  right: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.close-todo-list::after,
.close-todo-list::before {
  position: absolute;
  content: "";
  width: 25px; 
  height: 3px;
  background-color: #fff;
}

.close-todo-list::before {
  transform: rotate(-45deg);
}

.close-todo-list::after{
  transform: rotate(45deg);
}

.todolist-title {
  font-size: 25px;
  color: #C5B358;
}

.title-list {
  font-size: 18px;
}

.todo-wrapper-input {
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 10px;
}

.todo-wrapper {
  width: 100%;
  max-height: 55vh;
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  gap: 10px;
}

.task-discription {
  width: 65%;
  height: calc(2rem + 2px);
  color: #535353;
  padding-left: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  border-radius: 5px;
}

.task-discription::placeholder {
  padding: 0px 5px;
  color: #212529;
  opacity: 0.4;
}

.task-discription:focus {
  color: #212529;
  background-color: #fff;
  border-color: C5B358;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(197, 179, 88);
}

.add-task-btn {
  width: 30%;
  height: calc(2rem + 2px);
  background-color: #C5B358;
  outline: none;
  border-radius: 5px;
  border: #464543;
  transition: all 0.4s;
}

.add-task-btn:hover {
  opacity: 0.7;
}

.todo-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  user-select: none;
  color: #535353;
  background-color: #fff;
  padding: 7px 7px 7px 10px;
  box-sizing: border-box;
  transition: all ease 0.4s;
  border-radius: 5px;
}

.todo-item.delition {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.checked {
  background-color: rgb(138, 133, 133);
  text-decoration: line-through;
}

.text-task {
  text-align: left;
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: 80%;
}

.btn-complete-task {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.text-task::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.text-task::before {
  border-color: #babcbe;
  background-color: #babcbe;
}

.btn-complete-task:disabled+.text-task::before {
  background-color: #babcbe;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.btn-complete-task:not(:disabled):not(:checked)+.text-task:hover::before {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.btn-complete-task:checked+.text-task::before {
  border-color: #C5B358;
  background-color: #C5B358;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.btn-delete-task {
  width: 7%;
  height: calc(2rem + 2px);
  outline: none;
  border: #464543;
  transition: all 0.4s;
  background-size: 22px 35px;
  background-image: url("../assets/svg/task-delete-y.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

.btn-delete-task:hover {
  background-image: url("../assets/svg/task-delete.svg");
}

.hide-block {
  opacity: 0;
  transition: all ease 1s;
  visibility: hidden;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}